<a href="https://colab.research.google.com/github/Sweetmonee/colab/blob/main/21_Nov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 정수 M, N이 매개변수로 주어질 때, M x N 크기의 종이를 최소로 가위질 해야하는 횟수를 return 하도록 solution 함수를 완성해보세요.
def solution(M, N):
    answer = M*N - 1 
    return answer

In [ ]:
# 정수 num1과 num2가 주어질 때, num1에서 num2를 뺀 값을 return하도록 soltuion 함수를 완성해주세요.
def solution(num1, num2):
    answer = num1 - num2
    return answer

In [ ]:
# 정수 num1, num2가 매개변수로 주어질 때, num1을 num2로 나눈 몫을 return 하도록 solution 함수를 완성해주세요.
def solution(num1, num2):
    answer = num1//num2
    return answer

In [ ]:
# 정수 num1, num2가 매개변수 주어집니다. num1과 num2를 곱한 값을 return 하도록 solution 함수를 완성해주세요.
def solution(num1, num2):
    answer = num1*num2
    return answer

In [2]:
#머쓱이는 40살인 선생님이 몇 년도에 태어났는지 궁금해졌습니다. 나이 age가 주어질 때, 2022년을 기준 출생 연도를 return 하는 solution 함수를 완성해주세요.
#0 < age ≤ 120
#나이는 태어난 연도에 1살이며 1년마다 1씩 증가합니다.
def solution(age):
    
    while age <=120:
        result = 2022 - age + 1
        return result
        print(result)
        age = age + 1

In [ ]:
#정수 num1과 num2가 매개변수로 주어집니다. 두 수가 같으면 1 다르면 -1을 retrun하도록 solution 함수를 완성해주세요.
#제한사항
# 0 ≤ num1 ≤ 10,000
# 0 ≤ num2 ≤ 10,000
def solution(num1, num2):
    if num1 == num2:
        answer = 1
    else:
        answer = -1
    return answer

In [ ]:
#두 수의 나눗셈
def solution(num1, num2):
    answer = (num1/num2) * 1000 // 1
    return answer

In [ ]:
# 정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 return 하도록 solution 함수를 작성해주세요.


def solution(n):
    answer = 0
    a = 0
    while a <= n:
        if a %2 == 0:
            answer += a
        a += 1
        
    return answer

In [ ]:
# 머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 
# 정수 n과 k가 매개변수로 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 return 하도록 solution 함수를 완성해보세요.
def solution(n, k):
    yang = 12000
    softdrink = 2000
    answer =  (yang*n) + (softdrink*k)
    if n >= 10:
        answer = answer - (softdrink*(n//10))
    return answer

In [ ]:
# 머쓱이는 학교에서 키 순으로 줄을 설 때 몇 번째로 서야 하는지 궁금해졌습니다. 
# 머쓱이네 반 친구들의 키가 담긴 정수 배열 array와 머쓱이의 키 height가 매개변수로 주어질 때, 머쓱이보다 키 큰 사람 수를 return 하도록 solution 함수를 완성해보세요.
def solution(array, height):

    array.sort()
    count  = 0
    for i in array:
        if i > height:
            count += 1
            
    return count