<a href="https://colab.research.google.com/github/Sweetmonee/colab/blob/main/Dec_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#어떤 세균은 1시간에 두배만큼 증식한다고 합니다. 처음 세균의 마리수 n과 경과한 시간 t가 매개변수로 주어질 때 t시간 후 세균의 수를 return하도록 solution 함수를 완성해주세요.
def solution(n, t):
    answer = n * (2**t)
    
    return answer

In [ ]:
#문자열 my_string이 매개변수로 주어질 때, my_string 안에 있는 숫자만 골라 오름차순 정렬한 리스트를 return 하도록 solution 함수를 작성해보세요.
def solution(my_string):
    ms = list(my_string)
    ms.sort()
    answer = []
    for i in ms:
        if i.isdigit() == True:
            answer.append(int(i))
    return answer