<a href="https://colab.research.google.com/github/Sweetmonee/colab/blob/main/Nov_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#머쓱이네 옷가게는 10만 원 이상 사면 5%, 30만 원 이상 사면 10%, 50만 원 이상 사면 20%를 할인해줍니다.
구매한 옷의 가격 price가 주어질 때, 지불해야 할 금액을 return 하도록 solution 함수를 완성해보세요.

제한사항
10 ≤ price ≤ 1,000,000
price는 10원 단위로(1의 자리가 0) 주어집니다.
소수점 이하를 버린 정수를 return합니다.

In [ ]:
def solution(price):
    answer = 0
    if 100000>price:
        answer = int(price)
    elif 300000>price >= 100000:
        answer = int(price* 0.95)
    elif 500000>price >= 300000:
        answer = int(price*0.9)
    elif price >= 500000:
        answer = int(price*0.8)
    return answer

정수 n이 매개변수로 주어질 때 n의 각 자리 숫자의 합을 return하도록 solution 함수를 완성해주세요

In [ ]:
#내답
def solution(n):
    s = str(n)
    l = list(s)
    il = [int (i) for i in l]
    answer = 0
    for i in il:
        answer += i
        
    return answer

In [ ]:
#
def solution(n):
    answer = sum(list(map(int,list(str(n)))))
    return answer
#
def solution(n):
    answer = 0
    while n:
        answer += n%10
        n //= 10
    return answer

#순서쌍이란 두 개의 숫자를 순서를 정하여 짝지어 나타낸 쌍으로 (a, b)로 표기합니다. 자연수 n이 매개변수로 주어질 때 두 숫자의 곱이 n인 자연수 순서쌍의 개수를 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(n):
    answer = 0
    for i in range(1, n+1):
        if n%i == 0:
            answer += 1
    return answer

#영어에선 a, e, i, o, u 다섯 가지 알파벳을 모음으로 분류합니다. 문자열 my_string이 매개변수로 주어질 때 모음을 제거한 문자열을 return하도록 solution 함수를 완성해주세요.

In [ ]:
def solution(my_string):
    answer = list(my_string)
    consonant = ['a','e','i','o','u']
    for i in my_string:
        for j in consonant:
            if i == j:
                answer.remove(i)
    return ''.join(s for s in answer)